body{
	background: white url(http://www.htmldog.com/images/bg.gif) 
	no-repeat top right;
	font-size: 30px;
	font: Arial;
	color: pink;
}

h1{
	font: cursive;
	color: #ffc;
    background-color: #009;
	border-style: dashed;
    border-width: 3px;
    border-left-width: 3px;
    border-right-width:3px;
    border-color: teal;
}

h1:hover{
	color: brown;
}


.intro{
	color: teal;
	font: cursive;
}

.snake{
	color: purple;
}